@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* GLOBALS */

/* colors 
bluest green: #00b59c
light green: #9cffac
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*:focus{outline:none !important}


#container {
    font-size: 14pt;
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
}

/* TITLE */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#logo {
   height:75px;
   padding-right: 20px;
}

#title-text {
    font-size: 48pt;
    font-weight: 200;
}

.highlight {
    color: rgba(0, 181, 156, 1);
    font-weight: 400;
}

/* BOOK LIST */

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

th {

}

tr {
    height: 50px;
    border-bottom: 1px #40ca8a5b solid;
}

tr.read {
    
}

td {

}

.btn-delete {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.671);
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    font-size: 19pt;
}

.btn-delete:hover {
    color: red;
}


/* BUTTONS, FORM AND MODAL */

button, input[type="submit"] {
    border: 1px  rgba(0,181,156,1) solid;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 11pt;
    letter-spacing: 0.75px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,181,156,1);
    background: none;
    transition: all 0.1s ease-in-out;
}

button:hover, input[type="submit"]:hover {
    background: rgba(0,181,156,0.2);
}

button:active, input[type="submit"]:active {
    background: rgba(0,181,156,0.5);
}


form {
    width: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    background: rgb(156,255,172);
    background: linear-gradient(58deg, rgba(0,181,156,1) 0%, rgba(156,255,172,1)  100%);
    padding: 40px 20px 20px 20px;
    color: white;
}

label, .read-label {
    display: block;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 2px;
}

input {
    width: 90%;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px #ffffff solid;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 12pt;
}



.radios  {
    display: flex;
    align-items: center;

}

.radios > input {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.radios > label {
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 8px;
}

#add-book-btn {
    background: rgba(255,255,255,0.4);
    border: 1px white solid;
    color: white;
    width: 40%;
    padding: 0px;
}

#add-book-btn:hover {
    background: rgba(255,255,255,0.2);
}

#add-book-btn:active {
    background: rgba(255,255,255,0);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.5);

}

.close {
    float: right;
    margin-top: -40px;
    font-size: 22pt;
    color:  rgba(255,255,255,0.7);
}

.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#all-fields {
    font-size: 10pt;
    margin-top: 10px;
}


/* sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00b59c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00b59c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }